Screen {
    background: $surface;
}

#header-container {
    height: auto;
    dock: top;
    content-align: center middle;
    color: $accent;
    background: $surface-darken-1;
    padding: 1;
}

#ascii-art {
    width: auto;
}

Label {
    width: 100%;
    content-align: center middle;
}

/* Login Screen specific */
.hidden {
    display: none;
}

.copy-field {
    background: $surface-lighten-1;
    border: none;
    margin-bottom: 1;
}

.step-label {
    text-align: left;
    margin-top: 1;
    color: $text-muted;
}

#login-container {
    width: 60%;
    max-width: 80;
    min-width: 40;
    height: auto;
    border: solid $accent;
    padding: 2;
    background: $surface;
}

#oauth-container {
    border: solid $accent;
    padding: 1;
    margin: 1;
}